In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/adult.data.csv")

In [3]:
df.head()

,Age,Workclass,fnlwgt,Education,Education-Num,Marital-Status,Occupation,Relationship,Race,Gender,Capital-Gain,Capital-Loss,Hours-Per-Week,Native-Country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df["Race"].count()

32561

In [5]:
df[df['Gender'] == ' Male']['Age'].mean()

39.43354749885268

In [6]:
df['Education'].value_counts()[' Bachelors'] / 100

53.55

In [7]:
higher_education = df[df['Education'].isin([' Bachelors' , ' Masters' , ' Doctorate'])]

In [8]:
len(higher_education[higher_education['Salary'] == ' >50K']) / len(higher_education) * 100

46.535843011613935

In [9]:
not_higher_education = df[~df['Education'].isin([' Bachelors' , ' Masters' , ' Doctorate'])]

In [10]:
len(not_higher_education[not_higher_education['Salary'] == ' >50K']) / len(higher_education) * 100

58.13643038312642

In [11]:
# minimum number of hours per week for a person

m = df['Hours-Per-Week'].min()

In [12]:
num_of_min =len(df[df['Hours-Per-Week'] == m])

In [18]:
round(len(df[(df['Hours-Per-Week'] == m) & (df['Salary'] == ' >50K')]) / num_of_min * 100, 1)

10.0

In [14]:
(((df[df['Salary'] == ' >50K']['Native-Country'].value_counts()).max()) / (df['Native-Country'] == ' United-States').count()) * 100

22.023279383311323

In [15]:
more_than_50 = df[df['Salary'] == ' >50K']

In [16]:
more_than_50_in_india = more_than_50[more_than_50['Native-Country'] == ' India']

In [17]:
(((more_than_50_in_india['Occupation'].value_counts()).max()) / (df['Occupation'] == ' Prof-specialty').count()) * 100

0.07677896870489236